#TextAbout > p{
    width:400px;
    text-align: center;
    font-size: 17px;
    font-family: 'Fira Code';
}

#TextAbout > p > span{
    color:#5e17eb;
    font-weight: bolder;
}

#Buttons > button{
    background-color: transparent;
    border: none;
    outline: none;
    padding:0px 10px;
}

#Buttons > button > img{
    width: 40px;
    height: 40px;
}

#TechsDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

#TechsDiv > h1{
    color:#5e17eb;
    border-bottom: 2px solid #5e17eb;
    padding: 0px 0px 4px 0px;
}

#Techs{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    width: 100%;
}

#Techs > img{
    margin:0px 7px;
}

.TechsIcons{
    width: 45px;
    height: auto;
}

@media(max-width:500px){
    #TextAbout > p{
        width:85vw;
        font-size:15px;
    }

    #Buttons > button{
        padding:0px 10px;
    }
    
    #Buttons > button > img{
        width: 40px;
        height: 40px;
    }
    
    #Buttons > button > img{
        width: 30px;
        height: 30px;
    }
}