.Links{
    text-decoration:none;
}

.linksMenu{
    font-size: 19px;

    border-bottom: 4px solid #5E17EB;
    padding:0px 0px 5px 0px;
}

#MenuNavbar > span{
    padding: 0px 40px;
}

#ButtonMenu{
    width: 35px;
    height: auto;
}

#ButtonClose{
    background-color: violet;
}

.linksMenu:hover{
    background-color: #5E17EB;
    transition: 0.5s;
    font-weight: bolder;

    padding:4px;
}

#logoMain{
    font-family: 'Anonymous Pro';
    font-weight: bolder;
    font-size: 35.2px;

    color:#5E17EB;
}

#logoSub{
    text-align: center;
    font-size: 21px;
    font-weight: bolder;

    position: relative;
    left: 40px;
}