@media(min-width:932px) and (max-width:1064px){
    #logoMain{
       font-size: 28px;
    }
    
    #logoSub{
       font-size: 18px;
       left: 30px;
    }
}

@media (min-width:600px) and (max-width:932px){
    #logoMain{
        font-size: 24px;
     }
     
     #logoSub{
        font-size: 16px;
        left: 25px;
     }
}

@media(max-width:600px){
   #logoMain{
      font-size: 18px;
   }

   #logoSub{
      font-size: 13px;
      left: 20px;
   }
}