@font-face{
    font-family: dinpro;
    src: url('../dinpro-medium.otf');
}
.fonte-navbar{
    font-family: dinpro;
    font-size: 14px;
    font-weight: 1000;
}
.texto-modal{
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif
}
.fonte-rodape{
    font-size: 14px;
}