.fontes-navbar{
    font-size: 14px;
    font-family:'Courier New', Courier, monospace;
    font-weight: 800;
}
.texto-modal{
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif
}
.fonte-rodape{
    font-size: 14px;
}