#NewsLetter{
  margin:0px 0px 40px 0px;
  border: 2px solid #EFEFEF;
  text-align: center;
  height: 18vh;
}

#NewsLetter > h1{
  font-size: 24px;
  line-height: 36,5px;
  color:#353535;
  font-weight: 700;
  font-family: TitilliumWebBold;

  padding:20px 0px 10px 0px;
}

#NewsLetter > div{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#NewsLetter > div > input{
  width: 60vw;
  margin: 0px 20px 0px 0px;
  
  border:1px solid #353535;
  border-radius: 4px;
  font-size: 14px;
  line-height: 21,29px;
  font-family: TitilliumWeb;
  font-weight: 400;
  color:#353535;

  padding:0px 20px;
}

#NewsLetter > div > button{
  width:100px;
  background-color: #FAA500;
  border-radius: 4px;
  color:#FFFFFF;
  border:none;

  padding:5px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 21,29px;
  font-family: TitilliumWebBold;
}

#FooterMenu{
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: flex-start;

  padding:0px 30px;
}

.CollapseButton{
  color:#353535;
  font-size:16px;
  font-weight:700;
  line-height: 18px;
  font-family: TitilliumWebBold;
}

.CollapseButton:hover{
  color:#FAA500;
}

.content > li > a{
 font-size: 12px;
 font-weight: 400;
 line-height: 18px;
 font-family: TitilliumWeb;
 color:#000000;
}

/* Settings for footer */
#Footer{
  background-color: #353535;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding:30px 20px;
}

#Footer > div{
  width: 18vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Settings for footer Desktop */
  #FooterDesktop{
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #FooterDesktop > div{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: baseline;
  }

  #FooterDesktop > div > h2{
    font-family: TitilliumWebBold;
    font-style: normal;
    font-weight:bold;
    font-size: 16px;
    line-height: 18px;

    color:#353535;
  }

  #FooterDesktop > div > ul > li > a{
    font-family: TitilliumWeb;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    color:#000000;
    text-decoration: none;
  }

  #FooterDesktop > div > ul > li > a:hover{
    color:#FAA500;
  }

@media(max-width:768px){

  #FooterDesktop{
    display:none;
  }

  #Footer{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  #Footer > div{
    width: 60vw;
    align-items: center;

    padding:10px 0px 10px 0px;
  }
}

@media(min-width:769px){
  #FooterMenu{
    display: none;
  }
}