/* Adicionando as fontes ao documento */
@font-face{
  font-family: TitilliumWeb;
  src: url('../fonts/TitilliumWeb-Montserrat/Titillium_Web/TitilliumWeb-Regular.ttf');
}
@font-face{
  font-family: TitilliumWebBold;
  src: url('../fonts/TitilliumWeb-Montserrat/Titillium_Web/TitilliumWeb-Bold.ttf');
}
@font-face{
  font-family: MontserratBold;
  src:url('../fonts/TitilliumWeb-Montserrat/Montserrat/Montserrat-Bold.ttf');
}
@font-face{
  font-family: MontserratRegular;
  src: url('../fonts/TitilliumWeb-Montserrat/Montserrat/Montserrat-Regular.ttf');
}

/* Estilização do header */
#SemiNavbar{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;

  height: 2%;
  background-color: #353535;
  padding:10px 0px 10px 0px;
  color: #FFFFFF;

  font-size: 12px;
  font-family:TitilliumWeb;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
}

/* Settings for mobile Navbar */

#NavbarMobile{
 height: 25%;

 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;

 padding:20px 12px;
 background-color: #FFFFFF;
}

#Menu{
  width:24px;
  height:24px;
  margin: 0px 10px;
}
#Logo{
  width: 110px;
  height: 11,86px;
  margin: 0px 10px;
}
#Finder{
  width: 24px;
  height: 24px;
  margin: 0px 20px;
}
#Bag{
  width: 20,77;
  height: 24px;
  margin: 0px 20px;
}
div:nth-child(1){
  display: flex;
  flex-direction: row;
  align-items: center;
}

div:nth-child(2){
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Styles for responsive menu, will show just on small devices */
#ResponsiveMenu{
  display: none;
  width: 100vw;
  height: 100vh;
  z-index:2;

  background-color: #FFFFFF;
}
  span{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

#Close{
  width: 24px;
  height: 24px;
  margin:18px 0px 0px 23px;
}

#SmallMenu{
  display: flex;
  flex-direction: column;
  align-items: center;

  margin:10px 0px 0px 0px;
}

#SmallMenu > ul{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
}

#SmallMenu > ul > li{
  margin: 15px 0px;
}

#SmallMenu > ul > li:hover{
  border-bottom:4px double  #FAA500;
  transition: 0.1s;
}

#SmallMenu > ul > li > a{
  text-decoration:none;
  color: #000000;
  font-style: TitilliumWeb;
  font-size: 35px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
} 

/* Settings for Desktop Navbar */
#NavbarDesktop{
  background-color:#FFFFFF;
  height:12vh;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
}

#NavbarDesktop > div >input{
  width: 40vw;
  border:none;
  background-color:#EFEFEF;
  padding:7px 10px;
  border-radius: 10px 0px 0px 10px;
}

#NavbarDesktop >div:nth-child(2) > button{
  color:white;
  border:none;
  border-radius:8px;
  background-color: #FAA500;

  padding:7px 20px;
  margin:0px 0px 0px -4px;
}

#NavbarDesktop > div:nth-child(3) > button:nth-child(1){
  color:#353535;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  font-family: TitilliumWeb;

  background-color: transparent;
  border:none;

  margin:0px 10px;
}

#NavbarDesktop > div:nth-child(3) > button:nth-child(2){
  color:#353535;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  font-family: TitilliumWeb;

  background-color: transparent;
  border:none;

  margin:0px 10px;
}

#NavbarDesktop > div:nth-child(3) > button:nth-child(3){
  color:#353535;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  font-family: TitilliumWeb;

  background-color: transparent;
  border:2px solid #FAA500;
  border-radius: 10px;

  margin:0px 5px;
  padding: 10px 15px;
}

#NavbarDesktop > div:nth-child(3) > button:nth-child(1) > img{
  margin:0px 4px 3px 0px;
}

#NavbarDesktop > div:nth-child(3) > button:nth-child(2) > img{
  margin:0px 3px 2px 0px;
}

#NavbarDesktop > div:nth-child(3) > button:nth-child(3) > img{
  margin:0px 2px 3px 0px;
}

#NavbarDesktop > div:nth-child(3) > button:nth-child(3):hover{
  background-color: #FAA500;
  color:#FFFFFF;
}

/* AfterNavbar Settings */

#AfterNavbar{
  height:7vh;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  padding:0px 40px;
}

#AfterNavbar > button{
  background-color:transparent;
  border: none;

  font-size: 14px;
  font-weight: 400;
  color:#353535;
  line-height: 21px;
  font-family: TitilliumWeb;
}

#AfterNavbar > button:hover{
  border-bottom: 1px solid #FAA500;
  color:#FAA500;
}

/* Settings for main slidder */
#MainSlider{
  height: 60vh;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: url('../images/MainBanner.svg');
  background-position: center;
  background-size:cover;
}

#MainSlider > img{
  width: 19,42px;
  height: 32px;
  margin: 0px 20px;
}

#MainContent{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#MainContent > h1{
  color:#FFFFFF;
  font-size: 34px;
  font-family: MontserratBold;
  line-height: 37px;
  font-weight: bold;

}

#MainContent > p{
  padding:15px 0px;
  font-size: 14px;
  font-weight: normal;
  font-family: MontserratRegular;
  line-height: 17px;
  color: #FFFFFF;
}

#MainContent > button{
  font-size: 14px;
  font-family: MontserratBold;
  line-height: 17,07px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;

  background-color:#FAA500;
  border: 0px;
  padding:8px 15px;
  border-radius: 8px;
}

#MainContent > button:hover{
  color:#FAA500;
  background-color: #FFFFFF;
}

/* WhyBuy */
#WhyTitle{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding:20px 0px;
}
#WhyTitle > h1{
  font-size: 16px;
  line-height: 24,34px;
  text-align: center;
  font-family: TitilliumWebBold;
  font-weight: 700;

  color: #353535;


}

/* Slidder Why Buy */

#SlidderWhyBuy {
  padding:0px 20px 0px 20px;
  width: 96vw;
  display: grid;
  grid-template-columns: repeat(5, calc(100% - 20px * 2));
  grid-template-rows: minmax(15vh, 1fr);
  
  overflow-x: auto;
  scroll-snap-type: x proximity;
  padding-bottom: calc(.75 * 20px);
  margin-bottom: calc(-.25 * 20px);
}

ul {
  list-style: none;
  margin:0;
}

.CardBuy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color:#EFEFEF;
  border-radius:6px;

  margin: 0px 8px;
  scroll-snap-align: center;
}

.CardBuy > img{
 padding:0px 20px 0px 0px;
}

.CardBuy > article > h4{
  color:#353535;
  font-size: 14px;
  font-weight: 700;
  font-family: TitilliumWebBold;
  line-height: 21,29px;
}

.CardBuy > article >p{
  color:#000000;
  font-family: TitilliumWeb;
  font-size: 12px;
  font-weight: 400;
  line-height: 18,25px;
}
/* Card Why Buy for desktop */

#WhyBuyCards{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  flex-wrap: wrap;
}

#WhyBuyCards > div{
  width: 243px;
  height: 150px;
  background-color:#EFEFEF;
  border-radius: 10px;

  margin:5px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#WhyBuyCards > div > img{
  width:60px;
  height:50px;
}

/* Media queries para o ajuste das regras de responsividade */
@media(max-width:768px){
    #NavbarDesktop{
      display: none;
    }
    #AfterNavbar{
      display:none;
    }
}

@media(min-width:769px) and (max-width:996px){
  #NavbarDesktop > div >input{
    width: 30vw;
  }
}

@media(min-width:769px) and (max-width:856px){
  #NavbarDesktop > div >input{
    width: 20vw;
  }
}

@media(min-width: 769px){
    #NavbarMobile{
      display: none;
    }

    #SemiNavbar{
      height: 2%;
      background-color: #353535;
      padding:2px 0px 5px 0px;
    }
}

@media(min-width:500px) and (max-width:600px){
    .CardBuy{
      width: 70vw;
    }
}

@media(min-width:601px){
 #SlidderWhyBuy{
   display:none;
 }
}

@media(max-width:601px){
  #WhyBuyCards{ 
    display: none;
  }
}

/* Media-queries to adjust cards "WhyBuy"*/

@media(min-width:1268px){
  #WhyBuyCards{
    justify-content:space-between;
  }
  
  #WhyBuyCards > div{
    width: 243px;
    height: 100px;
    margin:5px;
  }
}

@media(min-width:1016px) and (max-width:1267px){
  #WhyBuyCards{
    justify-content:space-around;
  }
}
@media(min-width:800px) and (max-width:1015px){
  #WhyBuyCards{
    justify-content:center;
  }
  
  #WhyBuyCards > div{
    width: 243px;
    height: 100px;
  }
}
@media(min-width:601px) and (max-width:799px){
  #WhyBuyCards{
    justify-content:center;
  }
  
  #WhyBuyCards > div{
    width:50vw;
  }
}