/* Adicionando as fontes ao documento */
@font-face{
  font-family: TitilliumWeb;
  src: url('../fonts/TitilliumWeb-Montserrat/Titillium_Web/TitilliumWeb-Regular.ttf');
}
@font-face{
  font-family: TitilliumWebBold;
  src: url('../fonts/TitilliumWeb-Montserrat/Titillium_Web/TitilliumWeb-Bold.ttf');
}
@font-face{
  font-family: MontserratBold;
  src:url('../fonts/TitilliumWeb-Montserrat/Montserrat/Montserrat-Bold.ttf');
}
@font-face{
  font-family: MontserratRegular;
  src: url('../fonts/TitilliumWeb-Montserrat/Montserrat/Montserrat-Regular.ttf');
}

/* Estilização do header */
#BeforeNavbar{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;

  height: 3%;
  background-color: #353535;
  padding: 4px 0px;
  color: #FFFFFF;

  font-size: 11px;
  font-family:TitilliumWeb;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
}

/* Settings for mobile Navbar */

#NavbarMobile{
 height: 25%;

 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;

 padding:20px 12px;
 background-color: #FFFFFF;
}

#Menu{
  width:24px;
  height:24px;
  margin: 0px 10px;
}
#Logo{
  width: 110px;
  height: 11,86px;
  margin: 0px 10px;
}
#Finder{
  width: 24px;
  height: 24px;
  margin: 0px 20px;
}
#Bag{
  width: 20,77;
  height: 24px;
  margin: 0px 20px;
}
div:nth-child(1){
  display: flex;
  flex-direction: row;
  align-items: center;
}

div:nth-child(2){
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Styles for responsive menu, will show just on small devices */
#ResponsiveMenu{
  display: none;
  width: 100vw;
  height: 100vh;
  z-index:2;

  background-color: #FFFFFF;
}
  span{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

#Close{
  width: 24px;
  height: 24px;
  margin:18px 0px 0px 23px;
}

#SmallMenu{
  display: flex;
  flex-direction: column;
  align-items: center;

  margin:10px 0px 0px 0px;
}

#SmallMenu > ul{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
}

#SmallMenu > ul > li{
  margin: 15px 0px;
}

#SmallMenu > ul > li:hover{
  border-bottom:4px double  #FAA500;
  transition: 0.1s;
}

#SmallMenu > ul > li > a{
  text-decoration:none;
  color: #000000;
  font-style: TitilliumWeb;
  font-size: 35px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
} 

/* Settings for Desktop Navbar */
#NavbarDesktop{
  background-color:blue;
  height: 10px;  
}


/* Settings for main slidder */
#MainSlider{
  height: 60vh;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: url('../images/MainBanner.svg');
  background-position: center;
  background-size:cover;
}

#MainSlider > img{
  width: 19,42px;
  height: 32px;
  margin: 0px 20px;
}

#MainContent{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#MainContent > h1{
  color:#FFFFFF;
  font-size: 34px;
  font-family: MontserratBold;
  line-height: 37px;
  font-weight: bold;

}

#MainContent > p{
  padding:15px 0px;
  font-size: 14px;
  font-weight: normal;
  font-family: MontserratRegular;
  line-height: 17px;
  color: #FFFFFF;
}

#MainContent > button{
  font-size: 14px;
  font-family: MontserratBold;
  line-height: 17,07px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;

  background-color:#FAA500;
  border: 0px;
  padding:8px 15px;
  border-radius: 8px;
}

#MainContent > button:hover{
  color:#FAA500;
  background-color: #FFFFFF;
}

/* WhyBuy */
#WhyTitle{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding:20px 0px;
}
#WhyTitle > h1{
  font-size: 16px;
  line-height: 24,34px;
  text-align: center;
  font-family: TitilliumWebBold;
  font-weight: 700;

  color: #353535;


}

/* Slidder Why Buy */

#SlidderWhyBuy {
  padding:0px 20px 0px 20px;
  width: 96vw;
  display: grid;
  grid-template-columns: repeat(5, calc(100% - 20px * 2));
  grid-template-rows: minmax(15vh, 1fr);
  
  overflow-x: auto;
  scroll-snap-type: x proximity;
  padding-bottom: calc(.75 * 20px);
  margin-bottom: calc(-.25 * 20px);
}

ul {
  list-style: none;
  margin:0;
}

.CardBuy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color:#EFEFEF;
  border-radius:6px;

  margin: 0px 8px;
  scroll-snap-align: center;
}

.CardBuy > img{
 padding:0px 20px 0px 0px;
}

.CardBuy > article > h4{
  color:#353535;
  font-size: 14px;
  font-weight: 700;
  font-family: TitilliumWebBold;
  line-height: 21,29px;
}

.CardBuy > article >p{
  color:#000000;
  font-family: TitilliumWeb;
  font-size: 12px;
  font-weight: 400;
  line-height: 18,25px;
}

/* Media queries para o ajuste das regras de responsividade */
@media(max-width:768px){
    #NavbarDesktop{
      display: none;
    }
}

@media(min-width: 769px){
    #NavbarMobile{
      display: none;
    }
}