
.fundo-rodape{
    background-color: #1a1d20;   
}
.video{
    filter: brightness(30%);
}
.letreiro{
    font-family:dinpro;
    font-size: 60px;
    color: #FFF;
    font-weight: 700;
    position: relative;
    margin-top: -290px;
    margin-left:55px;
}
.fundo-navbar {
background-color:#333333 !important;
   
    
}
.fundo-navbar.alt-color {
background-color: transparent !important;
-webkit-transition: all .3s;
transition: all .3s;
}