#relogio{
    width: 120px;
    height: 120px;
}

#potato{
    height: 380px;
    width: 380px;
}

body{
    background-color:#838B8B;
}

@media(min-width:300px) and (max-width:500px){
    #potato{
        position: relative;
        display:flex;
        justify-content:center;
    }

    #letreiro{
        font-size: 35px;
        font-family: 'Bebas Neue', cursive;
        color: red;
    }
}

#letreiro{
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
}