#PartnersCompanys > article{
  padding:20px 0px 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#PartnersCompanys > article > h1{
  font-size: 24px;
  font-family: TitilliumWebBold;
  color:#353535;
  text-align: center;
  line-height: 48,68px;
}

/* Parners slidder */
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}


.slider {
	background: #FFFFFF;
	height: 100px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width:100vw;
}
	.slider::before,
	.slider::after {
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	.slider::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	.slider::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll 40s linear infinite;
		display: flex;
    /* width: calc(250px * 14); */
    width: 4000px;
	}
	
	.slide {
		height: 100%;
		width:300px;
  }
  
  .slide > img{
    height: 100%;
    width: 100%;
    padding: 0px 10px 0px 0px;
  }

/* MostAskingPart */
  #MostAsking > article > h1{
    font-size: 24px;
    font-weight: 700;
    line-height: 36,5px;
    text-align: center;
    font-family: TitilliumWebBold;
    color:#353535;

    margin:20px 0px 30px 0px;
  }

  #NewCollection{
    margin: 20px 0px 20px 0px;
    width: 100vw;
    height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
  }
  #NewCollection > article{
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items:start;
  }

  #NewCollection > article > h1{
    font-size: 24px;
    color:#000000;
    font-family: TitilliumWebBold;
    line-height: 36,5px;
    font-weight: 700;
    padding:0px 0px 4% 4%;
  }

  #NewCollection > article > p{
    font-size: 16px;
    font-family: TitilliumWeb;
    color:#000000;
    line-height: 21,29px;
    font-weight: 400;
    text-align: start;

    padding: 0px 20px;
  }

  #NewCollection > div > img{
    width:88vw;
    height:50vh;
    border-radius:10px;
  }

