#Modal{
  width: 54vw;
  height: 80vh;
  background-color:#FFFFFF;
  margin:4% 25% 0% 25%;
  position:absolute;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  display: none;
}

#Modal > div > img{
  width: 100%;
  height:469px;
}

#Modal > div:nth-child(2){
  width: 26vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Modal > div:nth-child(2) h5{
  font-family: TitilliumWeb;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  
  color: #464B54;
}


#Modal > div:nth-child(2) > h4{
  font-family: TitilliumWeb;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  
  text-align: center;
  color: #787D83;
}

#Modal > div:nth-child(2) > input{
  width: 24vw;
  border:1px solid #C4C4C4;
  border-radius: 10px;

  font-family: Titillium Web;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;

  padding:10px 20px;

  color: #787D83;

}

#Send{
  margin:10px 0px;
  width:95%;
  border: none;
  border-radius: 10px;

  background-color: #FAA500;
  color:#FFFFFF;

  padding:10px 0px;
}

#CloseModal{
  background-color:transparent;
  border: none;

  color:#000000;  
  position: relative;

  bottom:130px;
  align-self: flex-end;

  padding:10px 20px 0px 0px;
}

#Modal > div:nth-child(2) > img{
  width: 30px;
  height: 30px;
}

#SmallModal{
  margin:10% 22% 0% 20%;
  width: 500px;

  display:none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  background-color: white;
}

#SmallModal > h5{
  font-family: TitilliumWeb;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  
  color: #464B54;
}

#SmallModal > h4{
  font-family: TitilliumWeb;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  
  text-align: center;
  color: #787D83;
}

#CloseSmallModal{
  align-self: flex-end;
  padding:0px 20px 0px 0px;
  color:#000000;

  background-color: transparent;
  border:none;
}

#SmallModal > input{
  width: 70vw;
}

@media(max-width:815px){
  #SmallModal{
    margin:30% 12% 0% 15%;
    width: 70vw;
  }
  #SmallModal >  input{
    width: 60vw;
  }
}

@media(max-width:700px){
  #SmallModal{
    width:80vw;
    height: 30vh;
  }
}

@media(min-width:815px){
  #SmallModal > input{
    width: 50vw;
  }
}

@media(max-width:500px){
  #SmallModal{
    margin:20% 10% 0% 10%;
  }
}