*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

#nav{
    background-color:#13333a;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    height:10%;
    width: 100%;
}

#cep{
    width: 60vw;
    height: 80%;
}

#InformationsShow{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

#x{
    margin-top: 50px;
}

/*Media queries to responsive interface*/

@media(min-width:100px) and (max-width:500px){
    #nav{
        width: 100vw;
        height: 10%;
    }

    #InputSearcher{
        width: 70%;
        height: 45%;

        border-radius: 30px;
        border:1px solid #FFFFFF;

        background-color:#13333a;
        color:#FFFFFF;

        padding:0px 0px 0px 25px;

        font-size: 15px;
    }

    #ButtonSearcher{
        height:45%;

        background-color:transparent;
        color:#FFFFFF;
        border: 1px solid #FFFFFF;

        padding:8px;

        border-radius: 5px;
    }

    #ButtonSearcher:hover{
        background-color: #FFFFFF;
        color:#13333a;

        font-weight:bolder;
    }
}